<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="static/dropzone-5.7.0/dist/min/dropzone.min.js"> </script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="static/dropzone-5.7.0/dist/min/dropzone.min.css" rel="stylesheet"/>
        <script>
         Dropzone.options.audioUpload = {
             /* acceptedFiles: "image/png, image/jpeg, image/jpeg, video/mp4", */
             method: "PUT",
             timeout: null, // Dropzone has a default time out of 30sec
             // Get Upload Url dynamically
             url: function (files) {
                 return files[0].dynamicUploadUrl
             },
             headers: { // Remove unwanted headers
                 'Cache-Control': null,
                        'X-Requested-With': null,
                        'Accept': null,
             },
             // IMP: Have to make this configuration to send raw files to GCS
             sending: function (file, xhr) {
                 let _send = xhr.send;
                 xhr.send = function () {
                     _send.call(xhr, file);
                 };
             },
             init: function () {
                 this.on("success", function (file, response) {});
             },
             accept: function (file, done) {

                 var path = "/signed-url?content_type=" + encodeURIComponent(file.type) + "&name=" + encodeURIComponent(file.name);

                 fetch(path).
                   then(response => response.text()).
                   then(url => {
                     file.dynamicUploadUrl = url;
                     done();
                   });
             }
         };

         setInterval(() => {
             fetch("/status").then((data) => data.text()).then((result) => {
                 document.getElementById("status-table").outerHTML = result;
             });
         }, 5000);
        </script>
    </head>

    <body>
        <div class="container">
            <h1>Audio Transcription</h1>

            <form
                class="dropzone"
                id="audio-upload"></form>

            {{template "table" .objects}}
        </div>
    </body>
</html>

{{define "table"}}
<div id="status-table">
    {{range .}}

    <div class="row">

    <div class="section">
        <div class="col s6">
            <h5>
                {{.Name}}
            </h5>
            <p title="{{.Uploaded}}">Uploaded {{.RelativeTime}}</p>
        </div>
        <div class="col s6">
            {{if ne .Status "done"}}
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            {{.Status}}
            {{else}}
            {{$job := .}}
            {{with .Transcript}}

            <a class="right waves-effect waves-light btn" target="_blank" href="{{$job.ResultUrl}}">
                <i class="material-icons left">cloud_download</i>
                View Transcript
            </a>

            {{end}}
            {{end}}
        </div>
    </div>
    </div>


    <div class="divider"></div>
    {{end}}
</div>
{{end}}
